
.nav-link, .navbar-brand{
    font-weight: bold;
}

.dropdown {
    position:static !important;
}
.dropdown-menu {
    width: 100%;
    margin-top: 0 !important;
}
.dropdown-menu li a {
    padding: 5px 15px;
    font-weight: 300;
}
.multi-column-dropdown {
    list-style: none;
}
.multi-column-dropdown li a {
    display: block;
    clear: both;
    line-height: 1.428571429;
    color: #333;
    white-space: normal;
    text-decoration: none;
}
.multi-column-dropdown li a:hover {
    text-decoration: none;
    color: #262626;
    background-color: #f5f5f5;
}
 
@media (max-width: 767px) {
    .dropdown-menu.multi-column {
        min-width: 240px !important;
        overflow-x: hidden;
    }
    .dropdown-menu ul{
        padding-left: 0;
    }
}